<launch>

  <include file="$(find table_vision_sensing)/launch/start_tracking.launch">
    <arg name="view_image" value="True"/>
  </include>

  <node name="follow_ball" type="follow_ball" pkg="table_gameplay_ai" output="screen">
    <rosparam command="load" file="$(find table_gameplay_ai)/config/homography_config.yaml"/>
    <rosparam command="load" file="$(find table_gameplay_ai)/config/command_generation_config.yaml"/>
    <rosparam command="load" file="$(find table_motor_control)/config/motor_ids.yaml"/>
  </node>

  <include file="$(find table_description)/launch/view_table.launch">
    <arg name="use_gui" value="False"/>
  </include>

</launch>
