<launch>

  <include file="$(find table_vision_sensing)/launch/start_tracking.launch">
    <arg name="view_image" value="True"/>
  </include>

  <node name="follow_ball" type="follow_ball" pkg="table_gameplay_ai" output="screen">
    <rosparam command="load" file="$(find table_gameplay_ai)/config/ball_locations.yaml"/>
    <rosparam command="load" file="$(find ocam)/config/camera.yaml"/>
  </node>



</launch>
