<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ball_body">

  <xacro:property name="props" value="${load_yaml('$(find table_description)/config/table_params.yaml')}"/>
  <xacro:property name="ball_diameter" value="${props['ball_diameter']}"/>

  <link name="ball">
    <visual>
      <geometry>
        <sphere radius="${ball_diameter/2}"/>
      </geometry>
      <material name="white">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
  </link>

</robot>
